.carousel-img {
    height: 370px;
}

.about {
    border-bottom: 1px solid rgb(167, 165, 165);
    background-color: white;
}

.about img {
    width: 80px;
    height: 80px;
    position: relative;
    top: -80px;
}

.justified {
    text-align: justify;
}